
* {
  font-family: sans-serif;
  font-size: 5vw;
}
/****************************************
  fixed background
****************************************/
body {
  /* Location of the image */
  background-image: url(DSC_4933b.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #1F1816;
}
/****************************************
  header
****************************************/
header {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 6fr 1fr 1fr;
}

.transparent {
  grid-row: 1 / 2;
}

.slogan {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.8;
}

.slogan h1 {
  text-transform: uppercase;
}

.slogan h2 {
  text-transform: capitalize;
}

/****************************************
  section-one
****************************************/
section {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 6fr 1fr;
}

section .title {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: orange;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .content {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: white;
  opacity: 0.7;
}

/****************************************
  section-two
****************************************/



/****************************************
  section-three
****************************************/


/****************************************
  section-four
****************************************/


/****************************************
  media queries
****************************************/
@media only screen and (min-width: 1024px), (orientation:landscape) {
  * {
    font-size: 2vw;
  }
  body {
    background-image: url(DSC_4933.jpg);
  }
  header {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr 4fr 4fr 2fr;
  }
  .transparent {
    grid-row: 1 / 5;
  }
  .slogan {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}





