
* {
  font-family: sans-serif;
}
/****************************************
  fixed background
****************************************/
body {
  /* Location of the image */
  background-image: url(DSC_4933b.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #1F1816;
}
/****************************************
  header
****************************************/
header {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.transparent {
  grid-row: 1 / 2;
}

.slogan {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.slogan h1 {
  text-transform: uppercase;
}

.slogan h2 {
  text-transform: capitalize;
}


/****************************************
  media queries
****************************************/
@media only screen and (min-width: 1024px) {
  body {
    background-image: url(DSC_4933.jpg);
  }
}