html {
  height: 100%;
}

body {
  height: 100%;
  /* Location of the image */
  background-image: url(DSC_4933.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #1F1816;
}

.container {
  height: 100%;
}
.row {
  height: 33%;
}

.col-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1, h3 {
  color: white;
  text-transform: capitalize;
  font-size: 4vw;
}

@media only screen /*iphone 5*/
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  body {
    background-image: url(DSC_4933a.jpg);
    background-position: -100px;
  }
}


@media only screen /*iphone X */
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  body {
    background-image: url(DSC_4933a.jpg);
    background-position: -200px;
  }
}

